@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@theme {
  --color-primary: #0f172a;
  --color-secondary: #38bdf8;
  --color-accent: #f472b6;
  --color-dark: #020617;
  --font-sans: 'Inter', sans-serif;
}

body {
  background-color: var(--color-dark);
  color: white;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #38bdf8;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0ea5e9;
}